<%- include header %>
<ul style="list-style:none">
  <li>
	  <h3>
	  	<a href="http://weibo.com/u/2516527695/home?wvr=5">我的新浪微博</a>
	  </h3>关注身边的新鲜事情
  </li>
  <li>
	  <h3>
	  	<a href="http://www.baidu.com">百度</a>
	  </h3>遇到问题学会百度
  	</li>
</ul>
<%- include footer %>