<%- include header %>
<form class="form-1" method="post">
<p class="field">
<input type="text" name="name" placeholder="Username or email">
<i class="icon-user icon-large"></i>
</p>
<p class="field">
<input type="password" name="password" placeholder="Password">
<i class="icon-lock icon-large"></i>
</p>
<p class="submit">
<button type="submit" name="submit">
<i class="icon-arrow-right icon-large">Login</i>
</button>
</p>
</form>
<%- include footer %>